$lightcolor: #F3E5F5;
$boldcolor: #AD1457;

@import url(https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap);
$bodyfont: 'Work Sans', sans-serif;

.main-view {
  background-color: $lightcolor;
  font: $bodyfont;
}

Button {
  background-color: $boldcolor;
  color: white;
}